[submodule "merkle-whitelist/lib/forge-std"]
	path = merkle-whitelist/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "merkle-whitelist/lib/openzeppelin-contracts"]
	path = merkle-whitelist/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "merkle-whitelist-solidity/lib/forge-std"]
	path = merkle-whitelist-solidity/lib/forge-std
	url = https://github.com/foundry-rs/forge-std.git
